/******************
COLORS
******************/
$primary: #f15bb5;
$secondary: #786fa6;
$success: #b8e994;
$info: #63cdda;
$warning: #ff5722;
$danger: #e55039;
$white: #fff;
$lighter: #eeeeee;
$light: #dee2e6;
$gray: #adb5bd;
$dark: #2d4059;
$darker: #222831;
$black: #000;
